[Unit]
Description=Gunicorn daemon to serve Django app
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/affiproductapi
ExecStart=/home/ubuntu/affiproductapi/.venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/home/ubuntu/affiproductapi/affiproductapi.sock \
          core.wsgi:application

[Install]
WantedBy=multi-user.target
