version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/app
      - ./db:/home/ubuntu/productsapi/db
      - ./staticfiles:/home/ubuntu/productsapi/staticfiles
      - ./mediafiles:/home/ubuntu/productsapi/mediafiles
    ports:
      - "8000:8000"
    env_file:
      - .env
